<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webappday28</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAttributesServlet</display-name>
    <servlet-name>CreateAttributesServlet</servlet-name>
    <servlet-class>ai.jobiak.attributes.CreateAttributesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAttributesServlet</servlet-name>
    <url-pattern>/attribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadAttributeesServlet</display-name>
    <servlet-name>ReadAttributeesServlet</servlet-name>
    <servlet-class>ai.jobiak.attributes.ReadAttributeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadAttributeesServlet</servlet-name>
    <url-pattern>/readAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jdbcsignup</display-name>
    <servlet-name>Jdbcsignup</servlet-name>
    <servlet-class>ai.jobiak.signup.attributes.Jdbcsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jdbcsignup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcSignup</display-name>
    <servlet-name>JdbcSignup</servlet-name>
    <servlet-class>ai.jobiak.signup.attributes.Jdbcsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcSignup</servlet-name>
    <url-pattern>/signup1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Readjdbc</display-name>
    <servlet-name>Readjdbc</servlet-name>
    <servlet-class>ai.jobiak.signup.attributes.Readjdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Readjdbc</servlet-name>
    <url-pattern>/readjdbc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>ai.jobiak.state.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
</web-app>