<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day27task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calculator1</display-name>
    <servlet-name>Calculator1</servlet-name>
    <servlet-class>ai.jobiak.webapp.Calculator1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator1</servlet-name>
    <url-pattern>/cal1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>ai.jobiak.webapp.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/cal12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Factorial</display-name>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>ai.jobiak.webapp.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/fact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Table</display-name>
    <servlet-name>Table</servlet-name>
    <servlet-class>ai.jobiak.webapp.Table</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Table</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DectoBin</display-name>
    <servlet-name>DectoBin</servlet-name>
    <servlet-class>ai.jobiak.webapp.DectoBin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DectoBin</servlet-name>
    <url-pattern>/dec1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DectoHexa</display-name>
    <servlet-name>DectoHexa</servlet-name>
    <servlet-class>ai.jobiak.webapp.DectoHexa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DectoHexa</servlet-name>
    <url-pattern>/hexa</url-pattern>
  </servlet-mapping>
</web-app>